.sidebar{
    display: flex;
    flex-direction: column;
    flex:0.35;
    background-color: #f6f6f6;
}
.sidebar_header{
    display: flex;
    justify-content: space-around;
    padding: 2px;
    border-right: 1px solid #a7a3a3;

}
.sidebar_header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar_header_right > .MuiSvgIcon-root{

    font-size: 2000px !important;
}

.MuiSvgIcon-root {
    font-size: 20px !important;
    margin-right: 1.5vw;
}

.sidebar_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 40px;
    padding: 10px;
}
.sidebar_search_container{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;


}

.sidebar_search_container > form > input{
    border: none;
    outline: none !important;
    padding: 10px;
    color: grey;
font-size: 13px;
}

.sidebar_search_container > .MuiSvgIcon-root {
    color: grey;
    padding: 06px;
}
.sidebar_chats{
    flex: 1;
    background-color: rgba(180, 180, 180, 0.342);
    overflow: scroll;
    margin-right: 5px;
}
form{
outline: none;
border: none;
}